.main-content#subjects
  .container-fluid
    .row
      .col-md-9
        %header.header.clearfix
          %h3.pull-left Subject Details
    .row
      .col-md-9
        .panel
          .panel-body.container-fluid
            .row
              .col-md-12
                %h4.h4
                  %strong.strong= @subject.title
            %hr/
            .row
              .col-md-12
                %p.p= @subject.description
    .row
      .col-md-9
        .panel
          .panel-body.container-fluid
            %h3 Pending Request
          %table.table
            %thead
              %tr
                %th Student
                %th Date Enrolled
                %th
            %tbody
              - @pendings.each do |pending|
                %tr
                  %td= pending.student.fullname
                  %td= pending.created_at.strftime('%B %d, %Y')
                  %td.actions
                    = link_to 'Approved', approve_subject_enrolled_path(pending), method: :patch

  -# = link_to 'Enroll', enroll_subject_enrolleds_path(subject_id: @subject.id), class: 'btn btn-primary', method: :patch
