%h3 Subject Details
%p
  %span Title
  %span= @subject.title
%p
  %span Description
  %span= @subject.description


%h3 Pending Request
%table
  %thead
    %tr
      %th Student
      %th Date Enrolled
  %tbody
    - @pendings.each do |pending|
      %tr
        %td= pending.student.fullname
        %td= pending.created_at.strftime('%B %d, %Y')
        %td.actions
          = link_to 'Approved', approve_subject_enrolled_path(pending), method: :patch

-# = link_to 'Enroll', enroll_subject_enrolleds_path(subject_id: @subject.id), class: 'btn btn-primary', method: :patch
-#



