#results.main-content
  .container-fluid
    .row
      .col-md-9
        %header.header.clearfix
          %h3.pull-left Exam Result
    .row
      .col-md-9
        .panel
          .panel-body.container-fluid
            .row
              .col-md-12
                %h4.h4
                  %strong.strong= @answer.exam.title
            .row
              .col-md-12
                %p.p= "You've got #{@answer.total_score} out of #{@answer.exam.questions.count}"
            %table.table
              %thead
                %tr
                  %th Question
                  %th Correct Answer
                  %th Your Answer
                  %th
              %tbody
                - @answer.results.each do |result|
                  %tr
                    %td= result[:question]
                    %td= result[:correct_answer]
                    %td= result[:student_answer]
                    %td
                      - if result[:correct_answer] == result[:student_answer]
                        %i.ion-checkmark-round.text-success
                      - else
                        %i.ion-close-round.text-danger
